# This is an example settings file for combined label-free and light--sheet
# acquisition on the mantis microscope.

# Here we define variables (YAML anchors) which will be used later, for
# convenience
LCA_DAC: &LCA_DAC 'TS1_DAC01'
LCB_DAC: &LCB_DAC 'TS1_DAC02'
MCL_DAC: &MCL_DAC 'TS1_DAC06'
AP_GALVO_DAC: &AP_GALVO_DAC 'TS2_DAC03'

# The label-free and the light-sheet acquisition share the same time settings
# which are controlled by the mantis acquisition engine. Data are acquired in
# TPCZYX order. `time_interval_s` is the minimum time between positions, i.e.
# the acquisition will continue immediately if the elapsed time to acquire all
# positions is greater
time_settings:
  num_timepoints: 10
  time_interval_s: 60

# Define channel settings for the label-free acquisition. All channels must be
# within the same config group. `default_exposure_times_ms` must be a float
# which will be used for all channels or a list of length equal to the number of
# channels. Currently, however, the acquisition software does not support
# different exposure times for the label-free channels.
lf_channel_settings:
  default_exposure_times_ms: 10
  channel_group: 'Channel - LF'
  channels: ['State0', 'State1', 'State2', 'State3', 'State4']
  use_sequencing: True

# Define slice (i.e. z-stack) settings for the label-free acquisition.
lf_slice_settings:
  z_stage_name: 'MCL Piezo'
  z_start: -10 # in sample-space micrometers
  z_end: 15
  # When using 0.52 NA transmission light illumination, Nyquist sampling of the
  # axial dimension will be achieved by using (450*1.4)/(1.35^2 + 0.52^2) = 300 nm
  # steps in sample space. We can achieve this by using (300 nm)*1.4/2 = 210 nm
  # steps of the mirror due to the 1.4x magnification of the remote volume and the
  # fact that the optical path length is extended by twice the mirror's motion.
  # The MCL Piezo stage is programmed to move in sample-space coordinates, i.e.
  # (1 um)*1.4/2 = 0.7 um for every 1 um in sample space.
  #
  # Here we choose to oversample the data to match the light-sheet axial
  # sampling. After deskewing and 3x binning, the light-sheet samples are spaced
  # by ~205 nm. We chose a matching sample-space sampling, which corresponds to
  # (205 nm)*1.4/2 = 143 nm motion of the mirror or (0.143 um)*(10 V / 65 um) =
  # 22 mV DAC steps
  z_step: 0.205  # equivalent to 22 mV
  use_sequencing: True

# Define channel settings for the light-sheet acquisition. Channels may have
# different exposure times. Exposure times may be updated by the autoexposure
# algorithm. `default_laser_powers` may be a float, a list of length equal to
# the number of channels, or null / blank in which case the laser power will not
# be changed unless updated by the autoexposure algorithm. `use_autoexposure`
# may be bool or a list
ls_channel_settings:
  default_exposure_times_ms: [10, 10]
  default_laser_powers:
  channel_group: 'Channel - LS'
  channels: ['GFP EX488 EM525-45', 'mCherry EX561 EM600-37']
  use_sequencing: False
  use_autoexposure: [True, False]

# Define slice (i.e. z-stack) settings for the light-sheet acquisition.
ls_slice_settings:
  z_stage_name: 'AP Galvo'
  # 185 um scan range covers the label-free field of view. Corresponds to
  # ~5.9 V based on 31.3 um/V conversion factor
  z_start: -100  # in sample-space micrometers
  z_end: 85
  # Nyquist sampling of this dimensions will be achieved by using ~116 nm steps.
  # When imaging live cells we chose to undersample this dimension to decrease
  # photobleaching and photodamage.
  z_step: 0.313  # equivalent to 10 mV
  use_sequencing: True

# Microscope settings which will be applied when the label-free acquisition is
# initialized
lf_microscope_settings:
  # ROI may be omitted or blank; in this case the ROI will not be changed
  roi:
  # Config group settings to apply. Must be a list of
  # [config_group, config_name] pairs
  config_group_settings:
    - ['Imaging Path', 'Label-free']
    - ['Channel - LS', 'External Control']
    # need to set first channel for falling edge sequencing
    - ['Channel - LF', 'State0']
  # Device property settings to apply. Must be a list of
  # [device_name, property_name, property_value] sets
  device_property_settings:
    - ['Oryx', 'Line Selector', 'Line5']
    - ['Oryx', 'Line Mode', 'Output']
    - ['Oryx', 'Line Source', 'ExposureActive']
    - ['Oryx', 'Line Selector', 'Line2']
    - ['Oryx', 'Line Mode', 'Input']
    - ['Oryx', 'Trigger Source', 'Line2']
    - ['Oryx', 'Trigger Mode', 'On']
    # required for external triggering at max fps
    - ['Oryx', 'Trigger Overlap', 'ReadOut']
    - ['Oryx', 'Frame Rate Control Enabled', '0']
  # Device property settings which will be applied when the acquisition is
  # finished.
  reset_device_properties:
    - ['Oryx', 'Trigger Mode', 'Off']
    - ['XYStage:XY:31', 'MotorSpeedX-S(mm/s)', 5.75]
    - ['XYStage:XY:31', 'MotorSpeedY-S(mm/s)', 5.75]
  # Device property settings which enable z sequencing
  z_sequencing_settings:
    - [*MCL_DAC, 'Sequence', 'On']
  # Device property settings which enable channel sequencing
  channel_sequencing_settings:
    - [*LCA_DAC, 'Sequence', 'On']
    - [*LCB_DAC, 'Sequence', 'On']
  # Autofocus properties. `autofocus_stage` is the coarse stage which will be
  # moved between positions to ensure that the autofocus mechanism is within
  # range
  use_autofocus: True
  autofocus_stage: 'ZDrive'
  autofocus_method: 'PFS'

# Microscope settings which will be applied when the light-sheet acquisition is
# initialized
ls_microscope_settings:
  roi: [0, 896, 2048, 256]
  device_property_settings:
    - ['Prime BSI Express', 'ReadoutRate', '200MHz 11bit']
    - ['Prime BSI Express', 'Gain', '1-Full well']
    - ['Prime BSI Express', 'TriggerMode', 'Edge Trigger']
    - ['Prime BSI Express', 'ExposeOutMode', 'Rolling Shutter']
    # Illuminate sample only when all rows are exposing, aka pseudo global shutter
    - ['TS2_TTL1-8', 'Blanking', 'On']
  reset_device_properties:
    - ['Prime BSI Express', 'TriggerMode', 'Internal Trigger']
    - ['TS2_TTL1-8', 'Blanking', 'Off']
  z_sequencing_settings:
    - [*AP_GALVO_DAC, 'Sequence', 'On']
  use_o3_refocus: True
  o3_refocus_config: ['Channel - LS', 'GFP EX488 EM525-45']
  o3_refocus_interval_min: 10

ls_autoexposure_settings:
  autoexposure_method: 'manual'
  rerun_each_timepoint: True

# Zarr output settings for the label-free acquisition
lf_zarr_settings:
  data_type: 'UINT16'
  multiscale: false
  max_threads: 0  # 0 means use all available cores
  chunk_sizes:  # unit: pixels per chunk
    x: 64
    y: 64
    z: 1
    c: 1
  shard_sizes:  # Zarr V3 sharding - unit: chunks per shard
    x: 1
    y: 1
    z: 1
    c: 1
  compression_codec: 'blosc'  # compression algorithm (blosc, gzip, lz4, zstd, or null)
  compression_level: 1  # compression level (1-9 for most codecs)
  overwrite_existing: false
  # HCS (High Content Screening) settings - uncomment to enable
  # use_hcs_layout: true
  # plate_name: "Plate_001"
  # plate_description: "Example HCS plate acquisition"

# Zarr output settings for the light-sheet acquisition  
ls_zarr_settings:
  data_type: 'UINT16'
  multiscale: false
  max_threads: 0  # 0 means use all available cores
  chunk_sizes:
    x: 128
    y: 128
    z: 1
    c: 1
  shard_sizes:  # Zarr V3 sharding - unit: chunks per shard
    x: 1
    y: 1
    z: 1
    c: 1
  compression_codec: 'blosc'  # compression algorithm
  compression_level: 1  # compression level
  overwrite_existing: false
  # HCS (High Content Screening) settings - uncomment to enable
  # use_hcs_layout: true
  # plate_name: "Plate_001"
  # plate_description: "Example HCS plate acquisition"
