[build-system]
requires = ["setuptools >= 61", "setuptools_scm[toml]>=3.4", "wheel"]

[project]
name = "shrimpy"
description = "Custom acquisition engines for optical microscopes based on pymmcore-plus"
readme = "README.md"
license = { file = "LICENSE" }
requires-python = ">=3.11, <4.0"

# the dynamically determined project metadata attributes
dynamic = ["version"]

classifiers = [
  "Development Status :: 3 - Alpha",
  "Intended Audience :: Science/Research",
  "Programming Language :: Python :: 3 :: Only",
  "Programming Language :: Python :: 3.11",
]

# list package dependencies here
dependencies = [
  # "copylot @ git+https://github.com/czbiohub-sf/coPylot",  # only used in archive
  # "ndtiff==2.2.1",
  # "nidaqmx",
  "numpy",
  # "pycromanager==0.28.1",
  "pymmcore_plus==0.17.0",
  "pymmcore-widgets",
  # "pydantic>=2.0.0",  # only used in archive
  # "pylablib==1.4.1",  # only used in archive
  "PyYAML",
  "qtpy",
  # "tifffile",  # only used in archive
  "useq-schema",
  # "waveorder @ git+https://github.com/mehta-lab/waveorder@return_peak_stats",  # only used in archive
]


[project.optional-dependencies]
# note that dev dependencies are only pinned to major versions
dev = [
  "black==22.3.0",
  "flake8~=5.0",
  "isort~=5.12",
  "pre-commit~=2.19",
  "pylint~=2.14",
  "pytest~=7.1",
]
build = ["build", "twine"]

[project.scripts]
shrimpy = "shrimpy.cli.main:cli"

[tool.setuptools]
# allow use of __file__ to load data files included in the package
zip-safe = false

[tool.setuptools.packages.find]
# Discover shrimpy and all subpackages (e.g., shrimpy.mantis)
where = ["."]
include = ["shrimpy*"]
exclude = ["shrimpy.tests*"]

[tool.setuptools.dynamic]
version = { attr = "shrimpy.__version__" }

[tool.black]
line-length = 95
target-version = ['py311']
include = '\.pyi?$'
skip-string-normalization = true
exclude = '''
(
  /(
      \.eggs
    | \.git
    | \.hg
    | \.mypy_cache
    | \.tox
    | \.venv
    | _build
    | build
    | dist
    | notebooks
    | ignore
    | examples
    | scripts
    | archive
  )/
)
'''

[tool.isort]
profile = "black"
line_length = 95
lines_between_types = 1
default_section = "THIRDPARTY"
no_lines_before = ["STDLIB"]
ensure_newline_before_comments = true
skip_glob = ["examples/*", "scripts/*", "**/archive/*"]

[tool.pylint]
# disable all conventions, refactors, warnings (C, R, W) and the following:
# E0401: unable-to-import (since it is possible that no one environment has all required packages)
# E1136: unsubscriptable-object (anecdotal false positives for numpy objects)
disable = ["C", "R", "W", "import-error", "unsubscriptable-object"]
msg-template = "{line},{column},{category},{symbol}:{msg}"
reports = "n"

[tool.pytest.ini_options]
addopts = "--ignore scripts/ --ignore-glob=**/archive/"
