affine_transform_zyx:
- - 1.0
  - 0.0
  - 0.0
  - 0.0
- - 0.0
  - 1.0
  - 0.0
  - 0.0
- - 0.0
  - 0.0
  - 1.0
  - 0.0
- - 0.0
  - 0.0
  - 0.0
  - 1.0
output_shape_zyx: [8, 512, 128]
pre_affine_90degree_rotations_about_z: -1
